<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit movie</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Edit Movie</h2>
    <form action="#" th:action="@{|/admin/movie/${movie.id}|}" th:method="put" enctype="multipart/form-data" class="mc-form" th:object="${movie}">
        <input type="hidden" id="id" th:field="*{id}" th:value="${movie.id}">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Sample title" th:field="*{title}" th:value="${movie.title}" maxlength="100">
        <label for="releaseYear">Year of release</label>
        <input type="number" id="releaseYear" placeholder="2019" th:field="*{releaseYear}" th:value="${movie.releaseYear}">
        <label for="genre">Genre</label>
        <select class="selection" id="genre" th:field="*{genre}" required>
            <option value="" hidden>Choose a genre</option>
            <option th:each="genre: ${genres}" th:value="${genre.name}" th:text="${genre.name}" th:selected="${genre.name == movie.genre}"></option>
        </select>
        <label for="promoted">Promoting on the home page?</label>
        <input id="promoted" type="checkbox" th:field="*{promoted}" th:checked="${movie.promoted}">
        <label for="poster">Poster</label>
        <input type="file" id="poster" th:field="*{poster}" accept="image/png, image/jpeg">
        <label for="trailerId">Youtube trailer ID</label>
        <input type="text" id="trailerId" placeholder="abcdefgh" th:field="*{youtubeTrailerId}" th:value="${movie.youtubeTrailerId}" maxlength="20">
        <label for="shortDescription">Short description - max 200 characters</label>
        <textarea id="shortDescription" rows="5" th:field="*{shortDescription}" th:text="${movie.shortDescription}" maxlength="200"></textarea>
        <label for="description">Full description</label>
        <textarea id="description" rows="10" th:field="*{description}" th:text="${movie.description}" maxlength="10000"></textarea>
        <button type="submit">Edit</button>
    </form>
</main>
</body>
</html>