<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Movie genres - FilmHub</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Movie genres</h2>
    <p class="list-description">
        Below you will find a list of film genres in our catalogue. Choose something for yourself.
    </p>
    <ul class="list-border">
        <li th:each="genre: ${genres}">
            <a th:href="@{|/genre/${genre.name}|}"
               th:text="${genre.name}">
                Horror
            </a>
            <div class="list-genres-options" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR')">
                <a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR')"
                   th:href="@{|/admin/genre/${genre.id}|}">Edit</a>
                <form th:action="@{|/admin/genre/${genre.id}|}" th:method="delete">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this genre?');" class="delete-button">Delete</button>
                </form>

            </div>
        </li>

    </ul>

</main>

</body>
</html>