<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <!-- Ustawiamy tytuł -->
    <title th:text="|${movie.title} - MovieClub|">Title of the Movie - MovieClub</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="movie">
            <!-- Summary -->
            <div class="movie-summary">
                <!-- Set poster address and description -->
                <img src="../static/img/poster-placeholder.png"
                     th:src="${movie.poster ne null} ? @{|/img/${movie.poster}|} : @{/img/poster-placeholder.png}"
                     alt="movie title"
                     th:alt="${movie.title}"
                     class="movie-summary-cover"
                />
                <!-- Movie information -->
                <div class="movie-summary-info">
                    <!-- Set titles, short description, year -->
                    <h1 class="movie-summary-title" th:text="${movie.title}">The Lord of the Rings</h1>
                    <p class="movie-summary-original-title" th:text="${movie.originalTitle}">Lord of the Rings</p>
                    <p class="movie-summary-item" th:text="|Year: ${movie.releaseYear}|">Year: 2001</p>
                    <!-- Set link to the genre page, e.g., /genre/fantasy -->
                    <p class="movie-summary-item">Genre: <a href="#"
                                                            th:href="@{|/genre/${movie.genre}|}"
                                                            th:text="${movie.genre}">Fantasy</a>
                    </p>
                    <p class="movie-summary-item" th:text="${movie.shortDescription}">
                        The journey of a brave hobbit and his companions in search of the ring.
                    </p>
                </div>
            </div>
            <!-- Rating -->
            <div class="movie-rating-container movie-section">
                <h2 class="movie-section-heading">Rating</h2>
                <!-- If no votes have been cast -->
                <p th:unless="${movie.ratingCount}">No votes</p>
                <!-- If votes have been cast -->
                <div th:if="${movie.ratingCount}">
                    <!-- Round the rating to 1 decimal place -->
                    <p class="movie-rating-value" th:text="${#numbers.formatDecimal(movie.avgRating, 1, 1)}">4.0</p>
                    <p th:text="|Number of votes: ${movie.ratingCount}|">Number of votes: 134</p>
                </div>
                <!-- Add th:action, display form only to logged-in users -->
                <form action="#" th:action="@{/rate-movie}" method="post"
                      sec:authorize="isAuthenticated()"
                      class="movie-rating-form">
                    <!-- Movie ID for which we are voting -->
                    <p>Your rating</p>
                    <input type="hidden" name="movieId" th:value="${movie.id}">
                    <div class="movie-rating-buttons">
                        <!-- Generate 5 stars in a loop -->
                        <button class="movie-rating-button"
                                name="rating"
                                th:each="i: ${#numbers.sequence(1, 5)}"
                                th:value="${i}">
                            <!-- Distinguish full and empty stars by adding the appropriate class based on user vote -->
                            <i class="fa-star" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i>
                        </button>
                    </div>
                </form>
                <!-- Display login link only when the user is not logged in -->
                <p sec:authorize="!isAuthenticated()">
                    <a href="#" th:href="@{/login}">Log in</a> to vote
                </p>
            </div>
        </section>
        <!-- Trailer -->
        <section class="movie-trailer-container movie-section">
            <h2 class="movie-section-heading">Trailer</h2>
            <!-- Set the movie trailer URL -->
            <iframe width="560" height="315" class="movie-trailer"
                    src="https://www.youtube.com/embed/V75dMMIW2B4"
                    th:src="|https://www.youtube.com/embed/${movie.youtubeTrailerId}|"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        <!-- Description -->
        <section class="movie-section">
            <h2 class="movie-section-heading">Description</h2>
            <!-- Set the full description -->
            <p th:text="${movie.description}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec lacinia congue felis in faucibus.</p>
        </section>
    </main>
</div>
</body>
</html>